box2d-py==2.3.8
certifi==2024.7.4
charset-normalizer==3.3.2
cloudpickle==3.0.0
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.0
gym==0.26.2
gym-notices==0.0.8
idna==3.7
importlib_metadata==8.0.0
importlib_resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.9.0
numpy==1.23.0
packaging==24.1
pillow==10.4.0
pygame==2.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.16.0
swig==4.2.1
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
typing_extensions==4.12.2
urllib3==2.2.2
zipp==3.19.2
